body {
  margin: 0;
  background: #F9EDEB;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'cardo';
}

.px-200 {
  padding: 0 200px;
}

.index1 {
  /* position: absolute; */
  width: auto;
  height: 1734px;
  left: 0px;
  top: 0px;
  background: #F9EDEB;
  /* background-repeat: no-repeat; */
}

.index2 {
  /* position: absolute; */
  width: auto;
  height: 882px;
  left: 0px;
  top: 0px;
  background: #F9EDEB;
  /* background-repeat: no-repeat; */
}

.circle_image {
  background-image: url('public/images/circle_line.png');
  background-repeat: no-repeat;
  height: 1080px;
  padding-top: 20px,
}

.landing-text {
  font-size: 82px;
  line-height: 90px;
  /* or 125% */
  letter-spacing: -0.02em;
}

.landing-text-small {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #1E1E1E;
}

.looks-love {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.image-half-circle {
  /* position: relative; */
  -webkit-border-radius: 0px 346px 346px 0px;
  -moz-border-radius: 0px 346px 346px 0px;
  border-radius: 0px 346px 346px 0px;
  border: none;
  /* width: auto;
  height: 365px; */
  background: url('public/images/image_half_circle.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
}

.image-half-circle-sm {
  /* position: relative; */
  -webkit-border-radius: 0px 346px 346px 0px;
  -moz-border-radius: 0px 346px 346px 0px;
  border-radius: 0px 346px 346px 0px;
  border: none;
  /* width: auto;
  height: 255px; */
  background: url('public/images/image_half_circle.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
}

.image-half-circle1 {
  -webkit-border-radius: 200px 200px 0px 0px;
  -moz-border-radius: 200px 200px 0px 0px;
  border-radius: 200px 200px 0px 0px;
  border: none;
  /* width: auto;
  height: 374px; */
  background: url('public/images/image_half_circle1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
}

.image-half-circle1-sm {
  -webkit-border-radius: 200px 200px 0px 0px;
  -moz-border-radius: 200px 200px 0px 0px;
  border-radius: 200px 200px 0px 0px;
  border: none;
  /* width: auto;
  height: 255px; */
  background: url('public/images/image_half_circle1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
}

.girl {
  /* width: auto; */
  /* height: 832px; */
  background: url('public/images/girl.png');
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: 100%;
}

.girl-sm {
  width: auto;
  height: 42vh;
  background: url('public/images/girl-sm.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.girl1 {
  /* width: 440.74px; */
  /* height: 345px; */
  background: url('public/images/girl1.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.girl2 {
  /* width: 440.74px; */
  /* height: 345px; */
  background: url('public/images/girl2.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.girl3 {
  /* width: 440.74px; */
  /* height: 345px; */
  background: url('public/images/girl3.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.looks1 {
  width: auto;
  /* height: 562px; */
  background: url('public/images/looks1.png');
  background-repeat: no-repeat;
  background-color: #E0DEDC;
  background-position: center;
  background-size: contain;
}

.looks1-sm {
  width: auto;
  height: 63vh;
  background: url('public/images/looks1.png');
  background-repeat: no-repeat;
  background-color: #E0DEDC;
  background-position: center;
}

.looks2 {
  width: auto;
  /* height: 562px; */
  background: url('public/images/looks2.png');
  background-repeat: no-repeat;
  background-color: #E0DEDC;
  background-position: center;
  background-size: contain;
}

.looks3 {
  width: auto;
  /* height: 562px; */
  background: url('public/images/looks3.png');
  background-repeat: no-repeat;
  background-color: #E0DEDC;
  background-position: center;
  background-size: contain;
}

.looks4 {
  width: auto;
  /* height: 562px; */
  background: url('public/images/looks4.png');
  background-repeat: no-repeat;
  background-color: #E0DEDC;
  background-position: center;
  background-size: contain;
}

.fashion {
  width: 672px;
  height: 760px;
  background: url('public/images/fashion.png');
  background-repeat: no-repeat;
}

.fashion-sm {
  width: auto;
  /* height: 205px; */
  background: url('public/images/fashion.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.girl-brown {
  -webkit-border-radius: 276px 276px 0px 0px;
  -moz-border-radius: 276px 276px 0px 0px;
  border-radius: 276px 276px 0px 0px;

  width: 330px;
  height: 504px;
  background: url('public/images/girl_brown.png');
  background-repeat: no-repeat;
}

.girl-brown-sm {
  -webkit-border-radius: 276px 276px 0px 0px;
  -moz-border-radius: 276px 276px 0px 0px;
  border-radius: 276px 276px 0px 0px;

  width: auto;
  /* height: 122px; */
  background: url('public/images/girl_brown.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.girl-green {
  -webkit-border-radius: 276px;
  -moz-border-radius: 276px;
  border-radius: 276px;

  width: 330px;
  height: 504px;
  background: url('public/images/girl_green.png');
  background-repeat: no-repeat;
}

.girl-green-sm {
  -webkit-border-radius: 276px;
  -moz-border-radius: 276px;
  border-radius: 276px;

  width: auto;
  /* height: 118px; */
  background: url('public/images/girl_green.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.image_footer {
  width: auto;
  /* height: 136px; */

  background: url('public/images/image_footer.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.image_footer_sm {
  width: auto;
  height: 35vh;
  background: url('public/images/image_footer_sm.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.4;
} */
